<div class="user_form">
  <div class="title"><p>新規登録フォーム</p></div>
  
  <div class="form">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-box">
        <%= f.label :name, 'お名前（必須）' %>
        <%= f.text_field :name, autofocus: true, class: "user-name" %>
        <%= f.label :nickname, 'ニックネーム（必須）' %>
        <%= f.text_field :nickname, placeholder: "6文字以内", class: "user-nickname" %>
        <%= f.label :email, 'Eメール（必須）' %>
        <%= f.email_field :email, class: "user-email" %>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, placeholder: "6文字以上、半角英数字", class: "user-pass" %>
        <%= f.label :password_confirmation, 'パスワード（確認）' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "confirm-pass" %>
      </div>

      <%= f.submit "登録", class: "submit-btn" %>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
