<%# <%= render "shared/header" %>
<% breadcrumb :edit_user, @user %>

<div class="user_form">
  <h2 class="title">アカウント情報の変更</h2>

  <div class="form">
    <%= form_with model: current_user, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-box">
        <%= f.label :name, 'お名前（必須）' %>
        <%= f.text_field :name, autofocus: true, class: "user-name" %>
        <%= f.label :nickname, 'ニックネーム（必須）' %>
        <%= f.text_field :nickname, placeholder: "6文字以内", class: "user-nickname" %>
        <%= f.label :email, 'Eメール（必須）' %>
        <%= f.email_field :email, class: "user-email" %>
      </div>

        <%= f.submit "変更", class: "submit-btn" %>
    <% end %>
  </div>
  <div class="back"><%= link_to "戻る", :back, class: "back_btn" %></div>
</div>
