<%= render "shared/header" %>

<div class="user-show">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
  <div class="article">
    <div class="article-title"><%= post.title %></div>
    <div><%= post.text %></div>
    <div><%= link_to '詳細', post_path(post.id) %></div>
  </div>
  <% end %>
</div>

<%= link_to 'アカウント情報の変更', edit_user_path(current_user) %>
<%= link_to 'Passwordの変更', edit_user_registration_path %>
<%= button_to "アカウントの削除", registration_path(current_user), data: { confirm: "削除してよろしいですか?" }, method: :delete %></p>