<% breadcrumb :user, @user %>

<div class="user_show">
  <div class="user_nickname"><b><%= @nickname %>さんの投稿一覧</b></div>

  <div class="lists">
    <% @posts.each do |post| %>
      <div class="article">
        <%= link_to post_path(post.id), class: "link" do %>
        <div class="article_content">
          <div class="article_image">
            <%= image_tag post.image.variant(resize: '200x200'), class: "img" if post.image.attached? %>
          </div>
          <div class="article_info">
            <div class="article_title"><%= post.title %></div>
            <div class="article_theme"><%= post.theme.name %></div>
            <div class="article_time"><%= post.updated_at %></div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <div class="account_edit">
      <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to 'アカウント情報の変更', edit_user_path(current_user), class: "user_edit_btn" %>
        <%= link_to 'Passwordの変更', edit_user_registration_path, class: "password_edit" %>
        <%= button_to "アカウントの削除", registration_path(current_user), data: { confirm: "削除してよろしいですか?" }, method: :delete, class: "user_delete_btn" %>
      <% end %>
    </div>
  </div>

  <div class="back"><%= link_to "戻る", :back, class: "back_btn" %></div>
</div>
