<%= render "shared/header" %>

<div class="user-show">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
  <div class="article">
    <div class="article-title"><%= post.title %></div>
    <div><%= post.text %></div>
    <div><%= link_to '詳細', post_path(post.id) %></div>
  </div>
  <% end %>
</div>
