<%= render "shared/header" %>

<div class="main">
  <div class="main-left">
    <div class="title">記事一覧</div>
    <div class="article-lists">
      <% @posts.each do |post| %>
        <div class="article">
          <div class="article-title"><%= post.title %></div>
          <div><%= post.text %></div>
          <div>
          <%= link_to '詳細', post_path(post.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="side-menu">
    <div class="link-post">
    <% if user_signed_in?%>
      <%= button_to '記事を投稿する', new_post_path, method: :get %>
    <% end %>
    </div>
  </div>
</div>


<%= render "shared/footer" %>