<%# <%= render "shared/header" %>
<% breadcrumb :root %>

<div class="main">

  <div class="main-body">
    <div class="main-title"><h1>記事一覧</h1></div>
    <div class="lists">
      <% @posts.each do |post| %>
        <div class="article">
          <%= link_to post_path(post.id), class: "link" do %>
          <div class="article_content">
            <div class="article_image">
              <%= image_tag post.image.variant(resize: '200x200'), class: "img" if post.image.attached? %>
            </div>
            <div class="article_info">
              <div class="article_title">
                <%= post.title %>
              </div>
              <div class="article_theme"><%= post.theme.name %></div>
              <div class="article_time"><%= post.updated_at %></div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<%= render "shared/footer" %>