<%= render "shared/header" %>

<h2 class="title">投稿フォーム</h2>

<div class="post-form">
  <div class="form-box">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%= f.text_field :title, placeholder: "タイトル", class: "post-title" %>
    <br>
    <%= f.text_area :text, placeholder: "本文", class: "post-text" %>
    <%= f.label :image, '画像：' %>
    <%= f.file_field :image %>
    <br>
    <%= f.collection_select(:theme_id, Theme.all, :id, :name, {}, {class: "post-theme"}) %>
    <br>
    <%= f.label :dog_size_id, '愛犬のサイズ：' %>
    <%= f.radio_button :dog_size_id, 1, checked: true %>小型犬
    <%= f.radio_button :dog_size_id, 2 %>中型犬
    <%= f.radio_button :dog_size_id, 3 %>大型犬
    <br>
    <%= f.label :tag_list, 'タグ' %>
    <%= f.text_field :tag_list, value: @post.tag_list.join(","), class: "article-tag" %>
    <br>
    <%= f.submit "投稿する", class: "post-btn" %>
  <% end %>
  </div>
</div>

<%= link_to "戻る", :back %>