<% breadcrumb :post, @post %>

<div class="article-show">

  <div class="article-info">
    <div class="article_btn">
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <%= link_to '編集', edit_post_path(@post.id), class: "edit_btn" %>
        <%= link_to '削除', post_path(@post.id), data: { confirm: "削除してよろしいですか?" }, method: :delete, class: "delete_btn" %>
      <% end %>
      <% if user_signed_in? && !Favorite.exists?(user_id: current_user.id, post_id: @post.id) %>
        <% unless current_user.id == @post.user.id %>
          <%= link_to "お気に入り", post_favorites_path(@post.id), method: :post, class: "favorite_btn" %>
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to "お気に入りを解除", post_favorite_path(@post.id), method: :delete, class: "favorite_btn" %>
      <% end %>
    </div>

    <span class="article-title"><b><%= @post.title %></b></span>
    <div class="article-image">
      <%= image_tag @post.image.variant(resize: '400x400') if @post.image.attached? %>
    </div>
    <div class="article-text">
      <p>本文：<%= @post.text %></p>
    </div>
    <div class="article-time">
      投稿日:<%= l @post.updated_at %>
    </div>

    <div class="user_info">
      <div class="post-user">
        <b>投稿者：</b><%= link_to @post.user.nickname, user_path(@post.user.id) %>
      </div>
      <div class="article-theme">
        <b>記事のテーマ：</b><%= @post.theme.name %>
      </div>
      <div class="article_tag">
        <b>タグ：</b>
        <% @post.tag_list.each do |tag| %>
          <%= link_to tag, post_path(tag_name: tag) %>
        <% end %>
      </div>
    </div>

  </div>


  <div class="comments-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする(200文字以内)", size: "50x4", maxlength: "200", class: "comment_text" %>
        <%= f.submit "SEND", class: "comment_btn" %>
      <% end %>
    <% else %>
      <strong><p>＊コメント投稿には新規登録/ログインが必要です＊</p></strong>
    <% end %>
  </div>

  <div class="comments_fild">
    <h1>コメント一覧</h1>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
        <%= comment.text %>
      </p>
    <% end %>
  </div>

  <%= link_to "戻る", :back, class: "back_btn" %>
</div>
