<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>PetCare</title>
  </head>

  <body>
    <header>
      <div  class="header">

        <div class="hed-left">
          <%= link_to image_tag("logo.png", class: :logo), root_path %>
        </div>

        <div class="hed-center">
          <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
            <%= f.text_field :keyword, placeholder: "キーワードを入力", class: "search-input" %>
            <label class="search-btn">
              <%= fa_icon "search 2x", class: "fa-search" %>
              <%= f.submit "検索", class: "hidden" %>
            </label>
          <% end %>
        </div>

        <div class="hed_right">
          <div class="theme_menu">
            <label for="theme_title">テーマから探す</label>
            <input type="checkbox" id="theme_title" class="cssacc" />
            <div class="accshow">
              <ul class="theme_lists">
                <li><%= link_to '食事内容、介助方法', posts_path(theme_id: 1) %></li>
                <li><%= link_to '介護環境の対策', posts_path(theme_id: 2) %></li>
                <li><%= link_to 'トイレのケア', posts_path(theme_id: 3) %></li>
                <li><%= link_to '散歩のケア', posts_path(theme_id: 4) %></li>
                <li><%= link_to '体のケア', posts_path(theme_id: 5) %></li>
                <li><%= link_to '寝たきりのケア', posts_path(theme_id: 6) %></li>
                <li><%= link_to '介護グッズ', posts_path(theme_id: 7) %></li>
                <li><%= link_to '夜泣きの対策', posts_path(theme_id: 8) %></li>
                <li><%= link_to '認知症の対策', posts_path(theme_id: 9) %></li>
                <li><%= link_to '暑さ対策', posts_path(theme_id: 10) %></li>
                <li><%= link_to 'その他', posts_path(theme_id: 11) %></li>
              </ul>
            </div>
          </div>
          
          <div class="size_menu">
            <label for="size_title">サイズから探す</label>
            <input type="checkbox" id="size_title" class="cssacc" />
            <div class="accshow">
              <ul class="size_lists">
                <li>
                  <%= link_to '小型犬', posts_path(dog_size_id: 1) %>
                </li>
                <li>
                  <%= link_to '中型犬', posts_path(dog_size_id: 2) %>
                </li>
                <li>
                  <%= link_to '大型犬', posts_path(dog_size_id: 3) %>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav">
            <label for="lists_btn">Menu</label>
            <input type="checkbox" id="lists_btn" class="cssacc" />
            <div class="accshow">
              <ul class="menu_list">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to '記事を投稿する', new_post_path, class: "nav__btn" %>
                  </li>
                  <li>
                    <%= link_to 'お気に入り一覧', favorites_posts_path, class: "nav__btn" %>
                  </li>
                  <li>
                    <%= link_to 'マイページ', user_path(current_user.id), class: "nav__btn" %>
                  </li>
                  <li>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav__btn" %>
                  </li>
                <% else %>
                  </li>
                  <li>
                    <%= link_to '新規登録', new_user_registration_path, class: "nav__btn" %>
                  </li>
                  <li>
                    <%= link_to 'ログイン', new_user_session_path, class: "nav__btn" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </header>
      <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
  </body>
</html>
